 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/Untitled.png');
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-image-1 {
  width: 260px;
  height: 49px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
  margin: 36px auto 0 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  margin: 219px 307px 0 346px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.5rem;
  margin: 51px 36px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    background-size: auto 155%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 186px;
    margin-left: 246px;
    margin-right: 207px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 28px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 145px;
    margin-right: 97px;
    margin-left: 136px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 140px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 92px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 73px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 35px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/EURUSDM5.png');
}

.u-section-2 .u-sheet-1 {
  min-height: 649px;
}

.u-section-2 .u-accordion-1 {
  margin: 100px 0 60px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-2 .u-icon-1 {
  height: 15px;
  width: 15px;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: linear-gradient(#f2f2f2, #96c790);
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-2 .u-icon-2 {
  height: 15px;
  width: 15px;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: linear-gradient(#f2f2f2, #96c790);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-2 .u-icon-3 {
  height: 15px;
  width: 15px;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: linear-gradient(#f2f2f2, #96c790);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-2 .u-icon-4 {
  height: 15px;
  width: 15px;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: linear-gradient(#f2f2f2, #96c790);
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-accordion-link-1 {
    --radius: 20px;
  }

  .u-section-2 .u-icon-1 {
    --radius: 10px;
    padding: 0;
  }

  .u-section-2 .u-accordion-link-2 {
    --radius: 20px;
  }

  .u-section-2 .u-icon-2 {
    --radius: 10px;
    padding: 0;
  }

  .u-section-2 .u-accordion-link-3 {
    --radius: 20px;
  }

  .u-section-2 .u-icon-3 {
    --radius: 10px;
    padding: 0;
  }

  .u-section-2 .u-accordion-link-4 {
    --radius: 20px;
  }

  .u-section-2 .u-icon-4 {
    --radius: 10px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}